<hr>
<h4>Library Items </h4>
<% my_library_items.each do |library_item| %>
  <section class="card-wrapper">
    <img class="w-20 h-20 object-cover rounded-full mr-4" src="<%= library_item.book_image %>" alt="" />
    <div >
      <p class="">
          <%= library_item.book_title %>
      </p>
      <p><small><%= button_to "delete", library_item, :method => :delete , class:"btn btn-outline-info"%></small></p>
    </div>
  </section>
<% end %>