<h1>Editing library item</h1>

<%= render "form", library_item: @library_item %>

<br>

<div>
  <%= link_to "Show this library item", @library_item %> |
  <%= link_to "Back to library items", library_items_path %>
</div>
