*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrapper{
  margin: 0.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  max-width: 16em;
  background-color: white;
  border-radius: 1em;
  line-height: 1.5em;
  flex-wrap: wrap;
  
  img{
    width: 5em;
    height: 5em;
    border-radius: 5em;
    object-fit: cover;
    margin-right: 0.5em;
  }
  
  h3{
    font-size: 1.3rem;
  }
  
  p{
    font-size: .8rem;
  }
}